{% extends 'base.html' %}
{% block title_block %} Product List  {% endblock %}
{% block body_block %}
<div class="container my-5">
 <h2 class="my-5">Feature Product </h2>
  <div class="row">
    {% for product in object_list %}
    <div class="col-md-6 col-sm-12 col-log-3">
    <figure>
        <div class="info-wrap">
        <img src="">
        <br>
        </div>
        <figcaption>
        <br>
        <h6><a href="{% url 'App_shop:product_detail' pk=product.pk %}">{{product.name}}</a></h6>
        <div>
        <p><span>$#2547; {{product.price}} </span></p>
        <br>
        </div>
        <div>
        <p><span><strike>$#2547; {{product.old_price}}</strike></span></p>
        </div>
        </figcaption>
        </figure>
    
    </div>
  
{% endfor %}
 </div>

</div>

{% endblock %}